alembic==1.7.5
amqp==2.6.1
appnope==0.1.2
attrs==21.2.0
backcall==0.2.0
billiard==3.5.0.5
cached-property==1.5.2
celery==4.2.0
celery-redbeat==2.0.0
Cerberus==1.3.4
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
decorator==5.1.0
Deprecated==1.2.13
falcon==3.0.1
greenlet==1.1.2
gunicorn==20.1.0
honcho==1.0.1
importlib-metadata==4.8.2
importlib-resources==5.4.0
iniconfig==1.1.1
ipython==7.16.2
ipython-genutils==0.2.0
jedi==0.17.2
kombu==4.6.11
Mako==1.1.6
MarkupSafe==2.0.1
packaging==21.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.23
psycopg2==2.9.2
ptyprocess==0.7.0
py==1.11.0
Pygments==2.10.0
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-rapidjson==1.5
pytz==2021.3
redis==4.0.2
simplejson==3.17.6
six==1.16.0
SQLAlchemy==1.4.27
tenacity==8.0.1
toml==0.10.2
traitlets==4.3.3
typing_extensions==4.0.0
vine==1.3.0
wcwidth==0.2.5
wrapt==1.13.3
zipp==3.6.0
